<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="wrapper">

	<div class="all"></div>

	<form id="eaten">
		<input type="text" id="input">
		<div class="eaten__product"></div>
		<div class="eaten__value"></div>
	</form>

	<ul class="eaten"></ul>

</div>

<script type="text/template" id="all">
	<%= proteins %> <%= carbohydrates %> <%= fats %> <%= calories %>
</script>

<script type="text/template" id="db-item">
	<b>Продукт</b>: <%= name %> (<%= proteins %>, <%= carbohydrates %>, <%= fats %>, <%= calories %>)
</script>

<script type="text/template" id="eaten-view">
	<%= product.name %>, <%= value.weight %>г.
	(<%= value.proteins %>, <%= value.carbohydrates %>, <%= value.fats %>, <%= value.calories %>) <span class="delete">x</span>
</script>

<script type="text/template" id="eaten-value">
	<b>Съедено (<%= weight %>):</b>
		<%= proteins %>, <%= carbohydrates %>, <%= fats %>, <%= calories %>
</script>

<script type="text/template" id="indicator">
	<dl>
		<dt>Белки</dt>
			<dd><%= proteins %></dd>
		<dt>Углеводы</dt>
			<dd><%= carbohydrates %></dd>
		<dt>Жиры</dt>
			<dd><%= fats %></dd>
		<dt>Калории</dt>
			<dd><%= calories %></dd>
	</dl>
</script>


<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/backbone.localStorage.js"></script>
<script src="js/app.js"></script>
</body>
</html>