<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>iAte</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="wrapper">

	<header id="header">
        <a href="#">Глагне</a> | <a href="#products">База продуктов</a> | <a href="#products/add">+</a>
	</header>
	<div id="main"></div>
	<footer id="footer"></footer>

	<div class="all"></div>

	<form id="eaten">
		<input type="text" id="input"  placeholder="Добавить" autocomplete="off">
		<div class="eaten__tip hidden">
			<div class="eaten__product"></div>
			<div class="eaten__value"></div>
		</div>
	</form>

	<ul class="eaten"></ul>

	<div class="new-day">
		<a class="new-day__add" href="#">Новый день</a>
		<ul class="list"></ul>
	</div>

</div>

<script type="text/template" id="day">
	<li><%= text%> <span class="delete">×</span></li>
</script>

<script type="text/template" id="all">
	<figure>
		<figurecaption>
			Белки
		</figurecaption>
		<div class="progress">
			<div class="progress__bar progress__bar_proteins" style="width: <%= proteinsP %>%"><%= proteins %> </div>
			<small><%= proteinsP %>% от необходимых <%= user.proteins %></small>
		</div>
	</figure>
	<figure>
		<figurecaption>
			Углеводы
		</figurecaption>
		<div class="progress">
			<div class="progress__bar progress__bar_carbohydrates" style="width: <%= carbohydratesP %>%"><%= carbohydrates %></div>
			<small><%= carbohydratesP %>% от необходимых <%= user.carbohydrates %></small>
		</div>
	</figure>
	<figure>
		<figurecaption>
			Жиры
		</figurecaption>
		<div class="progress">
			<div class="progress__bar progress__bar_fats" style="width: <%= fatsP %>%"><%= fats %> </div>
			<small><%= fatsP %>% от необходимых <%= user.fats %></small>
		</div>
	</figure>
	<figure>
		<figurecaption>
			Калории
		</figurecaption>
		<div class="progress">
			<div class="progress__bar progress__bar_calories" style="width: <%= caloriesP %>%"><%= calories %></div>
			<small><%= caloriesP %>% от необходимых <%= user.calories %></small>
		</div>
	</figure>
</script>

<script type="text/template" id="template-db">
	<p class="db__header"><a>Все продукты</a> (<span class="db__counter"> count </span>)</p>
	<ul class="db__list hidden"></ul>
</script>

<script type="text/template" id="db">

	<p class="db__add">Добавить продукт</p>

	<p class="db__header"><a>Все продукты</a> (<span class="db__counter"><%= count %></span>)</p>
	<ul class="db__list hidden"></ul>
	
	<p><a class="db__refresh">Обновить БД продуктов</a></p>
	<p><a class="db__reset">Удалить все записи</a></p>
</script>

<script type="text/template" id="db-form">
	<form class="db__form">
        <input type="hidden" value="<%=data._id%>" name="_id" placeholder="ID">
        <input type="text" value="<%=data.name%>" name="name" placeholder="Название">
		<input type="text" value="<%=data.proteins%>" name="proteins" placeholder="Белки">
		<input type="text" value="<%=data.carbohydrates%>" name="carbohydrates" placeholder="Углеводы">
		<input type="text" value="<%=data.fats%>" name="fats" placeholder="Жиры">
		<input type="text" value="<%=data.calories%>" name="calories" placeholder="Ккал">
		в <input type="text" value="<%=data.weight%>" name="weight" value="100" readonly="readonly" placeholder="Вес (100)" tabindex="-1"> г
		<input type="text" value="<%=data.item%>" name="item" placeholder="«упаковка», «штука» и т.д.">:
		<input type="text" value="<%=data.portion%>" name="portion" placeholder="вес порции"> г
		<button><% if (!data._id) { %>Добавить<% } else {%>Сохранить<% } %></button>
	</form>
</script>

<script type="text/template" id="template-db-item">
    <span class="delete">&times;</span>
    <a class="edit" href="#products/edit/<%= _id %>">Edit</a>
    <b><%= name %></b> <%= proteins %>, <%= carbohydrates %>, <%= fats %>, <%= calories %><br>
    <% multipl = 1.6 %>
    <div style="font-size: 5px;">
        <span class="b-db__value b-db__value_proteins" style="width: <%= proteins * multipl %>px"></span>
        <span class="b-db__value b-db__value_carbohydrates" style="width: <%= carbohydrates * multipl %>px"></span>
        <span class="b-db__value b-db__value_fats" style="width: <%= fats * multipl %>px"></span>
        <br>
        <span class="b-db__value b-db__value_calories" style="width: <%= calories * 0.4 %>px"></span>
    </div>
</script>

<script type="text/template" id="db-item">
	<b><%= data.name %>
	<!--(на 100 г: <%= data.proteins %>, <%= data.carbohydrates %>, <%= data.fats %>, <%= data.calories %>)--></b>
</script>

<script type="text/template" id="eaten-view">
	<a class="delete">×</a>
	<%= product.name %>, <%= value.weight %>г.
	(<%= value.proteins %>, <%= value.carbohydrates %>, <%= value.fats %>, <%= value.calories %>)
</script>

<script type="text/template" id="eaten-value">
	Добавить
		<!--TODO Разобраться с формированием надписи-->
		<%= product.item ? product.item : '' %> <%= value.weight ? value.weight : product.portion %>г
		(<%= value.proteins %>, <%= value.carbohydrates %>, <%= value.fats %>, <%= value.calories %>)
</script>

<script type="text/template" id="indicator">
	<dl>
		<dt>Белки</dt>
			<dd><%= proteins %></dd>
		<dt>Углеводы</dt>
			<dd><%= carbohydrates %></dd>
		<dt>Жиры</dt>
			<dd><%= fats %></dd>
		<dt>Калории</dt>
			<dd><%= calories %></dd>
	</dl>
</script>

<script src="js/libs/jquery.js"></script>
<script src="js/libs/underscore.js"></script>
<script src="js/libs/backbone.js"></script>
<script src="js/libs/backbone.marionette.js"></script>
<script src="js/libs/backbone.localStorage.js"></script>

<script src="js/iate.js"></script>
<script src="js/iate.products.js"></script>
<script src="js/iate.products.form.js"></script>
<!--<script src="js/iate.layout.js"></script>-->
<!--<script src="js/iate.products-list.views.js"></script>-->
<!--<script src="js/iate.products-list.js"></script>-->
<script>
	IAte.start();
</script>

</body>
</html>